/* .box-chakra{
    background-image: url('./assets/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.headingCarousel{
    position: relative;
    top: 28%;
    left: 20%;
} */